ion-slide {
  width: 80%;
  height: 20%;
  align-content: center;
}

ion-label p{
  margin-left: 10px;
  font-weight: bold;
}

ion-text {
  padding-top: 5%;
  margin-bottom: 10%;
}

ion-img {
  width: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

ion-card {
  border-radius: 10px !important;
}

ion-card-title {
  white-space: normal;
  padding-top: 15px;
  margin-left: 20px;
  color: #000080;
  font-weight: bold;
}

ion-card-content {
  white-space: normal;
  margin-left: 5px;
  color: #808080;
}

.img-header {
  width:100%;
}

.img-btn {
  max-width: 80px;
}