/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.toolbar-color{
    --background: blue;
}

.middle-page {
    height: 100%; 
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.current-user {
    padding: 8px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}

.current-user img {
    height: 50px;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
    margin: 0;
}

ion-avatar {
    margin-top: 0 !important;
}

ion-card-subtitle, :host {
    text-transform: none !important;
    font-weight: 400;
}

ion-card-content ion-item {
    --padding-start: 0 !important;
}

ion-button {
    text-transform: uppercase;
}